body {
    font: 11px Optima, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.tooltip {
    position: absolute;
    top: 300px;
    right: 50px;
    color: black;
    width: 200px;
    height: 28px;
}

#h1GL
{
    position: absolute;
    top: 600px;
    left: 575px;   
}

#h1GI
{
    position: absolute;
    top: 315px;
}

svg
{
    position: absolute;
    left: 200px;
    top: 100px;
}

h1
{
    text-align: center;
}





